@charset "utf-8";
/* CSS Document */
#info{
		padding: 5px 10px 0px 10px;
		width: 100%;
		height: 45px;
		float: left;
		border-radius: 20px;
		color: darkgray;
		}
		#info div{
			float: left;
		}
		#info #name{
			width: 50%;
			text-align: left;
		}
		#info #contact{
			
			width: 50%;
		}

